<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic meta info
  ==================== -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Menu</title>



  <!-- css files
  ============== -->
  <link rel="stylesheet" type="text/css" href="../static/css/reset.css" />
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css"  />
  <link rel="stylesheet" type="text/css" href="../static/css/animate.min.css" />
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
   <link href="../static/css/material-dashboard.css?v=1.2.0" rel="stylesheet" />


</head>

<body>



<nav class="navbar  navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                       <span class=""> <a class="navbar-brand logo" href="#"> <strong>WINNIE</strong> </a></span>
                        <span>

                        </span>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                 <a href="#"  id="showDashboard" class="dropdown-toggle" data-toggle="dropdown">
                                    <!--<i class="material-icons">dashboard</i>-->
                                    <!--<p class="hidden-lg hidden-md">Dashboard</p>-->
                                </a>
                            </li>
                           <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <!--<i class="material-icons">person</i>-->
                                    <!--<p class="hidden-lg hidden-md">Profile</p>-->
                                </a>
                            </li>

                        </ul>

                    </div>
                </div>
            </nav>

  <!-- Recipe Section
  =================== -->
  <section id="recipe">
    <div class="container">
      <div class="row">
        <!-- Title -->
        <div class="col-md-12">
          <h2>Barbecue Pork Ribs</h2>
        </div>
      </div>
      <div class="row vertical-align">
        <div class="col-md-12">
          <!-- Picture -->
          <div class="col-md-4 ">
            <img src="../static/images/bbq-pork-ribs.jpg" alt="bbq-pork-ribs" class="recipe-picture" />
          </div>
          <!-- Info -->
          <div class="col-md-2 ">
            <div class="recipe-info">

              <!-- Time -->
              <div class="row">

                <div class="col-6">Time</div>
                <div class="col-4">3:00 H</div>
              </div>
              <!-- Difficulty -->
              <div class="row">

                <div class="col-6">Feedback</div>
                <div class="col-4">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div>
              <!-- Serves -->
              <div class="row">

                <div class="col-6">Servings</div>
                <div class="col-4">5</div>
              </div>
            </div>
          </div>
           <div class="col-md-6">
          <div class="rs">
            <h3>Ingredients</h3>
            <dl class="ingredients-list">
              <dt>10</dt> <dd>country-style pork ribs</dd>
              <dt>2</dt> <dd>tablespoons garlic powder</dd>
              <dt>1</dt> <dd>tablespoon salt</dd>
              <dt>1</dt> <dd>tablespoon pepper</dd>
              <dt>2</dt> <dd>cups of your favorite barbecue sauce</dd>
            </dl>
          </div>
        </div>
        </div>
      </div>
      <!-- Ingredients -->
      <div class="row wow slideInUp">

      </div>
      <!-- Directions -->
      <div class="row wow slideInUp">
        <div class="col-12">
          <div class="recipe-directions">
            <h3>Directions</h3>
            <ol>
              <li>Preheat oven to 325.</li>
              <li>Place ribs meaty side up in an ungreased baking dish.</li>
              <li>Sprinkle with garlic powder, salt, and pepper.</li>
              <li>Cover with foil and bake for 2 hours.</li>
              <li>Drain liquid.</li>
              <li>Brush ribs generously with BBQ sauce.</li>
              <li>Bake uncovered for an additional 30 minutes in oven or on the BBQ.</li>
              <li>Add more sauce half-way through.</li>
            </ol>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- JavaScript files
  ===================== -->
  <script charset="utf-8" src="../static/js/jquery-3.2.1.min.js"></script>
  <script charset="utf-8" src="../static/js/bootstrap.min.js"></script>
</body>

</html>
